@page
@model PrivacyModel
@{
    ViewData["Title"] = "FAQ";
}
<h1>@ViewData["Title"]</h1>

<details id="faq" class="container">
	<summary>Что такое сервис "Спортивная Москва"?</summary>
	Пример ответа
</details>
<details id="faq" class="container">
	<summary>Как работать с картой и аналитикой?</summary>
	Пример ответа
</details>
<details id="faq" class="container">
	<summary>Кто и какими способами может получить доступ к данным сервиса?</summary>
	Пример ответа
</details>


